.grid-container {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-template-columns: 2fr 2fr 1fr; */
    grid-template-columns: 100px auto auto;
    grid-template-rows: 100px 100px 100px;
}

.grid-item {
    border: 10px solid dodgerblue;
    text-align: center;
    padding: 20px;
}

.header {
    grid-column: 1 / span 3;
}

.menu {
    grid-row: 2 / span 2;
}

.footer {
    grid-column: 2 / span 2;
}

.main {
    grid-row: 2 / span 1;
}